---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="px-12 mx-auto">
      <div class="pt-36 pl-6 pb-3">
        <h1 class="text-4xl">Blog posts</h1>
      </div>
      <section>
        <ul class="flex flex-wrap gap-2">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <div class="card w-96 bg-base-100 shadow-xl hover:shadow-none border hover:border-stone-700">
                    <img src={post.data.heroImage} alt="" />
                    <div class="card-body">
                      <h2 class="card-title">{post.data.title}</h2>
                      <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
