---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroImage from "../components/HeroImage.astro";
import SpeakerCard from "../components/SpeakerCard.astro";
import Countdown from "../components/Countdown.astro";
import SponsorList from "../components/SponsorList.astro";

const register_link = "#";
const cfs_link = "#";
const cfp_link = "#";

import { SponsorLists } from "../sponsorLists";
import { AllSpeakers, KeyNoteSpeakers } from "../speakerLists";
---

<BaseLayout title="PyCon MY 2024">
  <HeroImage />
  <div class="bg-blue flex flex-col items-center justify-center">
    <a
      href={register_link}
      role="button"
      class="btn bg-yellow text-black-900 m-8 w-56 lg:btn-lg">Register Now</a
    >
    <a
      href={cfs_link}
      role="button"
      class="btn bg-yellow text-black-900 m-8 w-56 lg:btn-lg"
      >Call for Sponsors</a
    >
    <a
      href={cfp_link}
      role="button"
      class="btn bg-yellow text-black-900 m-8 w-56 lg:btn-lg">Call for Papers</a
    >
    <h3 class="mt-8 text-white font-bold text-xl sm:text-3xl">
      Keynote Speakers
    </h3>
    <SpeakerCard speakers={KeyNoteSpeakers} />
    <h3 class="mt-8 text-white font-bold text-xl sm:text-3xl">
      Meet our Speakers
    </h3>
    <SpeakerCard speakers={AllSpeakers} />
    <Countdown />
    <span class="mt-10 mb-10 font-bold text-xl sm:text-3xl text-white"
      >until</span
    >
    <img
      class="object-contain h-48 w-48"
      src="/pycon24_logo.png"
      alt="PyCon MY 2024 Logo"
    />
    <a
      href={register_link}
      role="button"
      class="btn bg-yellow text-black-900 m-8 w-56 lg:btn-lg">Register Now</a
    >
  </div>
  <SponsorList sponsors={SponsorLists} />
</BaseLayout>