---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const navbarItems = [
  { href: "/", text: "Home" },
  { href: "/the-psf", text: "PyCon PSF" },
  { href: "/coc", text: "Code of Conduct" },
  { href: "#sponsors", text: "Sponsors" },
  { href: "#speakers", text: "Speakers" },
  { href: "#events", text: "Events" },
  { href: "/membership-signup", text: "Membership" },
  { href: "/contact", text: "Contact" },
];
---

<nav class="bg-[#00AFF0] fixed w-full z-20 top-0 start-0">
  <div class="flex flex-wrap items-center justify-between mx-auto px-3 py-4">
    <!-- REMARKS : Logo is the Home button -->
    <a class="flex items-center px-5 space-x-0 rtl:space-x-reverse" href="/">
      <img src="/pyconmy-logo.png" class="w-12 h-12" alt="PyCon MY Logo" />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap text-white font-montserrat pl-4"
        >{SITE_TITLE}
      </span>
    </a>

    <div>
      <!-- Mobile view -->
      <div class="lg:hidden">
        <div class="dropdown dropdown-end">
          <div tabindex={0} role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
            </svg>
          </div>
          <ul
            tabindex={0}
            class="menu menu-sm flex-nowrap gap-y-3 dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 max-h-[75vh] overflow-scroll"
          >
            {
              navbarItems.map((item) => (
                <li>
                  <a href={item.href} class="text-lg">
                    {item.text}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <!-- Web view -->
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          {
            navbarItems.map((item) => (
              <HeaderLink href={item.href}>{item.text}</HeaderLink>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
