---
const { image, name, subtitle, description } = Astro.props;
---

<div class="card lg:card-side bg-white shadow-xl mx-3 my-4 w-[90%]">
  <figure class="object-contain object-scale-down h-96 w-96">
    <img
      src={image}
      alt={name}
      
    />
  </figure>
  <div class="card-body text-black-900">
    <h2 class="card-title font-autobus text-2xl">{name}</h2>
    <p class="text-lg">{subtitle}</p>
    <p class="text-base">{description}</p>
  </div>
</div>
