---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article class="flex justify-center">
        <div class="prose">
          <div class="pt-24">
            {heroImage && <img src={heroImage} class="w-full" alt="" />}
          </div>
          <div class="pt-10 pb-10 mx-auto">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
            <h1>{title}</h1>
            <hr />
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
